<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>02-Vue基本模板</title>
    <!--1.下载导入Vue.js-->
    <script src="js/vue.js"></script>
</head>
<body>
<div id="app">
<!--    v-if特点:
如果条件不满足根本就不会创建这个元素(重点)-->
<!--    <div v-if="sex === '0'">男人</div>-->
<!--    <div v-else>女人</div>-->

    <div v-if="sex === '0'">男人</div>
    <div v-else-if="sex === '1'">女人</div>
    <div v-else>不详</div>
</div>
<script>
    // 2.创建一个Vue的实例对象
    let vue = new Vue({
        // 3.告诉Vue的实例对象, 将来需要控制界面上的哪个区域
        el: '#app',
        // 4.告诉Vue的实例对象, 被控制区域的数据是什么
        data: {
            sex: "0"
        }
    });
</script>
</body>
</html>